

.container-form{
    padding-left: 5%;
    padding-right: 20%;
}
.title-container{
    margin-top: 20px;
    align-items: center;
    display: flex;
}
.h1{
    
    display: inline-flex;
    text-align: center;
}
